div{
    
    text-align: center;
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px solid black;
    display: center;
}
#container{
    width: 700px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#box1{
    background-color: aqua;
}
#box2{
    background-color: darkkhaki;
}
#box3{
    background-color: blue;
}
#box4{
    background-color: green;
}
#box5{
    background-color: pink;
}