/**{
    padding: 0;
    margin: o;
    color: white;
}
#navbar{
    height: 60px;
    background-color: black;
}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
#one{
    padding: 200;
}
#two{
    padding: 200px;
}
#three{
    padding: 200px;
}
div
{
    height: 100px;
    width: 100px;
}
#box1{
    background-color: blue;
    height: 100px;
    width: 100px;
    font-size: 20px;
}
#box2{
    background-color: pink;
    width: 33%;
    height: 10vh;
    font-size: 2em;
}
div{
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}

#box1
{
    position: static;
    top: 10px;
}
#box2{
    position: relative;
    top: 20px;
}
#box3{
    position: absolute;
    bottom: 20px;
    left: 100px;
    
}
#box4{
    position: fixed;
    bottom: 30px;
    left: 29px;
    z-index: 3;
}*/
div
{
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}
#box1 {
    background-image: url("nature_image.jpg");
    background-size: cover;
}
#box2 {
    background-image: url("model_image.jpg.jpg") ;
    background-size: contain;
}
#box3 {
    background-image: url("image_x.jpg.jpg") ;
    background-size: auto;
}
#box4 {
    background-image: url("goodthings.jpg.jpg") ;
    background-size: cover;
}
