*{
    padding: 0;
    margin: o;
    color: white;
}
#navbar{
    height: 60px;
    background-color: black;
}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
#one{
    padding: 200;
}
#two{
    padding: 200px;
}
#three{
    padding: 200px;
}
div
{
    height: 100px;
    width: 100px;
}